.athlete-card {
    background-color: #222;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
  }
  
  .athlete-name {
    font-weight: bold;
  }